<%= stylesheet_link_tag "quickmenu/main" %>

<div class="row">
<%= @chickens.find_each do |ck| %>
	<div class="col-sm-4 col-xs-6 card-padding">

		<!-- Feature -->
			<div class="quickmenu-card">
				<%= image_tag(ck.image_url, class: "card-image") %>
				<header>
					<h3><strong><%= ck.name %></strong></h3>
				</header>
				<p class="card-description"><%= ck.description %></p>
				<p class="card-price"><%= ck.price %> 원</p>
				<a href="#" class="btn btn-default btn-lg btn-block">주문하기</a>
				</ul>
				</div>					
	</div>
<% end %>	
</div>

