<%= stylesheet_link_tag "quickmenu/main" %>

<div class="row">
<%= @chickens.find_each do |ck| %>
	<div class="col-sm-3 col-xs-6 quickmenu-card">

		<!-- Feature -->
			<section>
				<%= image_tag ck.image_url %>
				<header>
					<h3><strong><%= ck.name %></strong></h3>
				</header>
				<p><%= ck.description %></p>
				<p><%= ck.price %></p>
				<a href="#" class="btn btn-default btn-lg">주문하기</a>
				</ul>
				</section>					
	</div>
<% end %>	
</div>

