<div class="well">

  <div class="row">
    <div class="col-xs-8">
      <h4><%= product.name %></h4>
    </div>
    <div class="col-xs-4">
      <h4 class="text-right"><%= order_item.unit_price %>  원</h4>
    </div>
  </div>

    <%= form_for order_item, remote: true do |f| %>
       
        <div class="row">
          <div class="col-xs-4">
          </div>
          <div class="col-xs-4">
            <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1 %>
            <%= f.hidden_field :product_id, value: product.id %>
          </div>
          <div class="col-xs-4">
            <div class="btn-group">
            
              <%= f.submit "수량 변경", class: "btn btn-primary" %>
              <%= link_to "삭제", order_item, { method: :delete, remote: true, class: "btn btn-danger" } %>
            </div>
          </div>
        </div>
        
        <h4 class="text-right">전체 금액: <%= order_item.total_price %>원</h4>
      <% end %>
    </div>
    
  </div>
</div>