<h2><%= bulletin_name params[:bulletin_id] %> <small><%= link_to '설정', edit_bulletin_path(params[:bulletin_id])%></small></h2>

<main class="main-area">
  <div class="centered">
    <section class="cards">
      <% @posts.each do | post | %>
      <article class="card">
        <figure class="thumbnail">
        <%= link_to(image_tag(post.picture_url(:thumb)), [post.bulletin, post]) if post.picture? %>
        </figure>
        <a href="#">
          <div class="card-content">
            <h2><%= post.title %></h2>
            <p><%= post.content %></p>
          </div>
        </a>
          <!-- .card-content -->
        <div class='actions'>
          <%= link_to fa_icon('eye'), [post.bulletin, post] %>
          <%= link_to fa_icon('edit'), edit_bulletin_post_path(post.bulletin, post) %>
          <%= link_to fa_icon('trash'), [post.bulletin, post], method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </article>
      <% end %>
    </section>
    <!-- .cards -->
  </div>
  <!-- .centered -->

<%= link_to 'New Post', new_bulletin_post_path, class: 'btn btn-default' %>